
/******************************* footer */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.tm-content {
    flex: 1 0 auto; /* https://www.w3schools.com/cssref/css3_pr_flex.asp */
}

.footer {
    flex-shrink: 0;
}

/******************************* gradient */
.container-fluid {
    background: linear-gradient(#e9ecef, white);
}

/******************************* fa cart icon stack */
.fa-stack[data-count]::after{
    position:absolute;
    right:23%;
    top:0%;
    content: attr(data-count);
    font-size:70%;
    padding:.35em;
    border-radius:999px;
    line-height:.75em;
    color: #17a2b8;
    text-align:center;
    min-width:1em;
    font-weight:bold;
    background: white;
}

.fa-circle {
    color: #17a2b8;
}

.info-over-secondary {
    color: #17a2b8;
    background: #6c757d;
}

/******************************* miscellaneous */

.hr-footer {
    max-width: 33%;
    margin-top: 3rem;
}

.hr-login {
    max-width: 50%;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
}

a.no-decoration {
    text-decoration: none;
}

.text-description {
    font-style: italic;
    text-align: justify;
    text-justify: inter-word;
}

.max-width-25 {
    max-width: 25%;
}
