<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/tmstyle.css}" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/9902891181.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <!-- Main header -->
        <div class="row" th:fragment="header">
            <div class="col-sm-12">
                <header>
                    <!-- NavBar -->
                    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
                        <!-- Toggler/collapsibe Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- Navbar links -->
                        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                            <ul class="navbar-nav mr-auto">
                                <!--customer links-->
                                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/user/products}">Products</a>
                                </li>

                                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/user/cart}">Cart</a>
                                </li>
                                <!--admin links-->
                                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/admin/orders}">Orders</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                <!--user greeting-->
                                <li class="navbar-text" sec:authorize="hasRole('ROLE_USER')">
                                    <small class="text-white">Hi <span th:text="${user.name}"/>!</small>
                                </li>
                                <!--cart-->
                                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                                    <a class="nav-link" th:href="@{/user/cart}" data-toggle="tooltip" title="View Cart">
                                        <span class="fa-stack has-badge mx-2" id="cartIcon" th:data-count="${user.cart.size}">
                                            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                            <i class="fa fa-shopping-cart fa-stack-2x info-over-secondary"></i>
                                        </span>
                                    </a>
                                </li>
                                <!--admin greeting-->
                                <li class="navbar-text" sec:authorize="hasRole('ROLE_ADMIN')">
                                    <small class="text-info font-weight-bold">Admin</small>
                                </li>
                            </ul>
                            <!--logout-->
                            <form class="form-inline p-2" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST" id="logoutForm" action="#">
                                <button class="btn btn-outline-info btn-sm mx-2" type="submit">
                                    <small class="font-weight-bold text-white">Logout<i class="fas fa-sign-out-alt ml-2"></i></small>
                                </button>
                            </form>
                        </div>
                    </nav>
                </header>
            </div>
        </div>

        <!-- submit button -->
        <button th:fragment="submitButton(text)" class="btn btn-outline-info px-5" type="submit"><span th:text="${text}"></span></button>

        <!-- cancel button (toHome) -->
        <a th:fragment="cancelButtonToHome(text)" class="btn btn-outline-secondary px-3" th:href="@{/login}"><small th:text="${text}"></small></a>

        <!-- login error -->
        <div th:fragment="loginError" class="my-2" th:if="${param.error != null}">
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <small><strong>Error: </strong><span th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</span></small>
            </div>
        </div>

        <!-- backend specific object-field errors -->
        <div th:fragment="backendFieldErrors(field)" class="mt-n2" th:if="${#fields.hasErrors(field)}">
            <div class="alert alert-danger alert-dismissible fade show mb-1" th:each="error : ${#fields.errors(field)}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <small><strong>Error: </strong><span th:text="${error}"></span></small>
            </div>
        </div>

        <!-- footer -->
        <footer class="footer bg-white text-center pb-3" th:fragment="footer">
            <hr class="hr-footer"/>
            <span><a class="no-decoration text-info" href="https://github.com/misrraimsp/tinymarket">TinyMarket Project</a> © 2020</span>
        </footer>

    </body>

</html>
